
/*   header first */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
    }

    nav {
        display: flex;
        padding: 10px 20px;
        background-color: #f8f8f8;
        justify-content: space-around;
    }

    nav h1 {
        font-size: 24px;
    }

    nav ul {
        list-style: none;
        display: flex;
    }

    nav ul li {
        margin-left: 20px;
    }

    nav ul li a {
        display: flex;
        text-decoration: none;
        color: #333;
    }

    .menu-toggle {
        display: none;
        font-size: 28px;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        nav {
            display: flex;
            padding: 10px 20px;
            background-color: #f8f8f8;
            flex-direction: row;
            justify-content: space-between;
        }

        nav ul {
            flex-direction: column;
            position: absolute;
            /* top: 160px; */
            left: 80%;
            width: 100%;
            background: #f8f8f8;
            display: none;
        }

        nav ul li {
            margin: 10px 0;
            text-align: center;
        }

        .menu-toggle {
            display: block;
        }

        nav ul.active {
            display: flex;
        }
    }
