* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}


/* header-1 */







































/* Mobile */
@media (max-width: 480px) {
    body {
        background-color: lightblue;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: lightgreen;
    }
}

/* Desktop */
@media (min-width: 769px) {
    body {
        background-color: lightgray;
    }
}
